<% provide(:title, 'My Rails Club') %>

	<div class="callout large home-header"> 
		<div class="row column text-center">
			<h1>MyRails.Club</h1>
			<h2 class="subheader">A Club for Rails Projects</h2>
		</div>
	</div>
	 
	<div class="row medium-8 large-7 columns">
		<div class="blog-post">
			<h3>The Beginning of a New Club
			<h6><%= link_to "Justin Hiltz", "https://twitter.com/justin_hiltz" %></h6>
			<p>This is the place I will be collecting all of my Rails projects. It'll be a portfolio of sorts. Why the name? I picked up <%= link_to "myrails.club", "https://www.myrails.club" %> for about a buck.</p>
			<p>My website is <%= link_to "justinhiltz.com", "https://justinhiltz.com" %> and my Github profile is <%= link_to "here", "https://github.com/justinhiltz" %>.</p>
		</div>
	</div>

	<div class="callout large home-footer">
		<div class="row column text-center">

		</div>
	</div>
	<script>
		$(".toggle-menu").on("click", function(){
  		$("#menu").toggleClass("is-open");
		});
</script>
</body>
</html>
